.unnamed1 {  font-size: 16px; line-height: 25px; text-decoration: none; color: #CCCCCC}
.unnamed2 {  font-size: 12px; color: #CCCCCC; text-decoration: none; background-color: #333333; line-height: 20px}
.unnamed3 {  font-size: 12px; text-decoration: none; color: #CCCCCC}
.size14 {  font-size: 14px; line-height: 32px; color: #CCCCCC; text-decoration: none}
a:hover {

}
a {  color: #CCCCCC; text-decoration: none}
.14graybg {  font-size: 14px; color: #CCCCCC; background-color: #333333; line-height: 32px; border: 2px #660033 solid}
.border {  border: 2px #660033 solid}
